 <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left d-flex align-items-center">
              <form action="/search" class="site-block-top-search" method="post">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" name="search_name" placeholder="Search">
               
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="navbar-brand">
                <a href="/" class="navbar-brand"><h3 class="text-primary"><i class="bi bi-cursor-fill me-2"></i>sTICKiT</h3></a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span
                        class="icon icon-person"></span></a>
                    <div class="dropdown-menu" >
                      {{#if user}}
                      <a class="dropdown-item text-success text-capitalize" href="/userprofile">{{user.name}}</a>
                      <a class="dropdown-item" href="/logout">Logout</a>
                      {{else}}
                      <a class="dropdown-item" href="/login">Login</a>
                      <a class="dropdown-item" href="/signup">Signup</a>
                      {{/if}}
                    </div>
                  </li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span  id="cart-count" class="count">{{cartcount}}</span>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            {{#each categoryData}}
            <li><a href="/shopPage/{{this._id}}">{{this.category}}</a></li>
             {{/each}}
          </ul>
        </div>
      </nav>
    </header>