    <div class="site-blocks-cover" style="background-image: url(/user/images/banner.jpg);" data-aos="fade">
      <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
          <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
            {{!-- <h1 class="mb-2 text-dark text-center bg-light">Finding Your Perfect stickers</h1> --}}
            <div class="d-flex justify-content-end">
              {{!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla. </p> --}}
              <p>
                <a href="#" class="btn btn-sm btn-warning">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Get Free Shipping on Orders Above Rs 500.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Get your Products Exchanged or Refunded Easily.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Get the best customer support.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-blocks-2">
      <div class="container">
        <div class="row">
          {{#each categoryData}}
          <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="/shopPage/{{this._id}}">
              <figure class="image">
                <img src="icons/{{this.image}}" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <h3 class="text-uppercase">{{this.category}}</h3>
                <span class="text-uppercase">Collections</span>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
{{#if dealOfDay}}
    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Deal Of The Day</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              {{#each dealOfDay}}
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <a href="/product-details/{{this._id}}"><img src="/icons/{{this.image}}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a class="text-dark font-weight-bold text-uppercase " href="/product-details/{{this._id}}">{{this.productName}}</a></h3>
                    <p class="text-$gray-800 font-weight-bold mb-4">₹ {{this.price}}.00</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
{{#if mostSelling}}
    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Most Selling Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              {{#each mostSelling}}
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <a href="/product-details/{{this._id}}"><img src="/icons/{{this.image}}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a class="text-dark font-weight-bold text-uppercase " href="/product-details/{{this._id}}">{{this.productName}}</a></h3>
                    <p class="text-$gray-800 font-weight-bold mb-4">₹ {{this.price}}.00</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if featured}}
    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              {{#each featured}}
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <a href="/product-details/{{this._id}}"><img src="/icons/{{this.image}}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a class="text-dark font-weight-bold text-uppercase " href="/product-details/{{this._id}}">{{this.productName}}</a></h3>
                    <p class="text-$gray-800 font-weight-bold mb-4">₹ {{this.price}}.00</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    {{#if newProducts}}
    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>New Arrivals</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              {{#each newProducts}}
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <a href="/product-details/{{this._id}}"><img src="/icons/{{this.image}}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a class="text-dark font-weight-bold text-uppercase " href="/product-details/{{this._id}}">{{this.productName}}</a></h3>
                    <p class="text-$gray-800 font-weight-bold mb-4">₹ {{this.price}}.00</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
{{!-- 
    <div class="site-section block-8">
      <div class="container">
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Big Sale!</h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 mb-5">
            <a href="#"><img src="images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
          </div>
          <div class="col-md-12 col-lg-5 text-center pl-md-5">
            <h2><a href="#">50% less in all items</a></h2>
            <p class="post-meta mb-4">By <a href="#">Carl Smith</a> <span class="block-8-sep">&bullet;</span> September 3, 2018</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?</p>
            <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
          </div>
        </div>
      </div>
    </div> --}}