<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Home</a>
        <span class="mx-2 mb-0">/</span>
        <strong class="text-black">{{product.productName}}</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/icons/{{product.image}}" alt="Image" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-between">
           <h2 class="text-black text-capitalize">{{product.productName}}|
          {{product.category.category}} </h2>
          {{#if wishlist}}
         
          <button onclick="removeWishlist('{{product._id}}')"  class="btn btn-light d-flex align-items-center" ><i class="bi bi-heart-fill" style="color:red ;"></i></button>
           
          {{else}}
          <button onclick="addWishlist('{{product._id}}')" class="btn btn-light d-flex align-items-center" ><i class="bi bi-heart"style="color:black;"></i></button>
         {{/if}}
        </div> 
        <p>{{product.description}}</p>
        <p class="mb-4"><span class="text-dark font-weight-bold">Dimension:</span>
          {{product.dimension}}</p>
        <p><strong class="text-primary h4">Rs :{{product.price}}.00</strong></p>
        {{! <div class="mb-1 d-flex">
          <label for="option-sm" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm"
                name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
          </label>
          <label for="option-md" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md"
                name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
          </label>
          <label for="option-lg" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg"
                name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
          </label>
          <label for="option-xl" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl"
                name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
          </label>
        </div> }}
        {{!-- <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">

              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" name="quantity" value="1" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1" disabled />
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>
        </div> --}}
        {{!-- <p><a href="/add-tocart/{{product._id}}" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p> --}}
        <button type="submit" class="buy-now btn btn-sm btn-primary" onclick="addTocart('{{product._id}}')">Add To
          Cart</button>
         
      </div>

    </div>
  </div>
</div>

{{!-- <div class="site-section block-3 site-blocks-2 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Featured Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="nonloop-block-3 owl-carousel">
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid" />
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Tank Top</a></h3>
                <p class="mb-0">Finding perfect t-shirt</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="images/shoe_1.jpg" alt="Image placeholder" class="img-fluid" />
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Corater</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="images/cloth_2.jpg" alt="Image placeholder" class="img-fluid" />
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Polo Shirt</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="images/cloth_3.jpg" alt="Image placeholder" class="img-fluid" />
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">T-Shirt Mockup</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="images/shoe_1.jpg" alt="Image placeholder" class="img-fluid" />
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Corater</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}
   <script>
        $("#success-alert").fadeTo(2000, 500).slideUp(10, function () {
            $("#success-alert").slideUp(10);
        });
    </script>

<script>
     function addTocart(proId){
        $.ajax({
        url: '/add-tocart/' + proId, 
        method: 'get',
        success: (response) => {
            if (response.status) {
                   Swal.fire(
                        'added to Cart!',
                        'product added to Cart.',
                        'success'
                    )
                let count = $('#cart-count').html() 
                   counts = parseInt(count) + 1
                $('#cart-count').html(counts)
            }else{
                 Swal.fire(
                        'login!',
                        'Please login first.',
                        'close()'
                    ).then(()=>{
                      location.href = '/Login'
                    })
                     
            }
        }
    })}
   function addWishlist(proId){
    $.ajax({
      url:'/add-Towishlist/'+proId,
      method:'get',
      success:(response)=>{
        if(response.msg){
           location.reload()
        }else{
            Swal.fire(
                        'login!',
                        'Please login first.',
                        'close()'
                    ).then(()=>{
                      location.href = '/Login'
                    })
        }
       
      }
    })
   }




    function removeWishlist(cartId){

       $.ajax({
            url: "/deletewishlist",
            data: {
              cart: cartId,
            },
            method: "post",
            success: (Response) => {
              if (Response) {
                     Swal.fire(
                        'Removed!',
                        'product removed from wishlist.',
                        'success'
                    ).then(()=>{
                       location.reload()
                    })
              }
            }
      })
    }
</script>
